services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      CORS_ORIGIN: 'http://localhost:3011'
    networks:
      - streamprep-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3011:80"
    depends_on:
      - backend
    networks:
      - streamprep-network

networks:
  streamprep-network:
    driver: bridge